@charset "utf-8";
	.NormalCharacterStyle9
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle1
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle2
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle3
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle12
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle7
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle6
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle5
{
	font-family : Optima Bld;
	font-size : 10pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle8
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle10
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle11
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle4
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle13
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle15
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle19
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle16
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle17
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle18
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle14
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle20
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle21
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle22
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle23
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle24
{
	font-family : Optima Rmn;
	font-size : 9pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.NormalCharacterStyle25
{
	font-family : Optima Bld;
	font-size : 10pt;
	color : #1D1D1B;
	color : rgb(29, 29, 27);
}
.st0
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st1
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st2
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st3
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st4
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st5
{
	background : #1D1D1B;
	background : rgba(29, 29, 27, 1);
}
.st6
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st7
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st8
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st9
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st10
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st11
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st12
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st13
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st14
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
}
.st15
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st16
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st17
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st18
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st19
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st20
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st21
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st22
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st23
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st24
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st25
{
}
.st26
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
.st27
{
}
.st28
{
	border-style : Solid;
	border-color : #1D1D1B;
	border-color : rgba(29, 29, 27, 1);
	border-width : 0pt;
}
